<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hansheaven.yks_gunlugum">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YKSGunlugum">
        <activity
            android:name=".EditPlan"
            android:exported="false" />
        <activity
            android:name=".NewPlan"
            android:exported="false" />
        <activity
            android:name=".PlansScreen"
            android:exported="false" />
        <activity
            android:name=".YDTKonulariScreen"
            android:exported="false" />
        <activity
            android:name=".AYTKonulariScreen"
            android:exported="false" />
        <activity
            android:name=".TYTKonulariScreen"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="true" />
        <activity
            android:name=".LoginScreen"
            android:exported="true" />
        <activity
            android:name=".RegisterScreen"
            android:exported="true" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>